
.Tag_Heading{
    border: darkblue;
    color: brown;

}

.Example_1{
    background-color: black;
    background: blue;

}

.lessthan_html{
    background-color: blue;
    border: blue;
    border-width: 2px;
    background-color:    blue;

}
