

html{
    font-family: sans-serif;
    font-size: larger;
}

section{
    padding: 2px;
}

.Clac_Box{
    text-align: center;
    margin: 5px auto;
    min-height: 5rem ;
    max-height: 10rem;
    min-width: 5rem;
    max-width: 20rem;
    border: 2px solid black ;
    border-radius: 4px;
    background-color: lightcoral;
    padding: 20px;


}